* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 860px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo{
        width: 120px;
    }
    &__item{
        display: flex;
        gap: 40px;
        &__list__link{
            color: black;
            font-weight: bold;
            opacity: 0.5;
        }
        &__list__link:hover{
            opacity: 0.9;
        }
    }
}